google-api-python-client
google-auth-httplib2
google-auth-oauthlib
bs4
requests
datetime
pytz
selenium
time


beautifulsoup4==4.11.1
google_api_python_client==2.60.0
protobuf==5.28.2
Requests==2.32.3
